$red: #c55151;
$green-default:#4DC2B3;
$orange: #FF955E;
$yellow: #F9DD28;
$blue: #4860c1;
$white: #FFFFFF;
$brown: #695A35;
$gray-20: #f5f5f5;
$gray-30: #d5d5d5;
$gray-50: #BFBFBF;
$gray-80: #585858;
$gray-100: #373737;
$black: #000000;
